html,
body {
  height: 100%;
  overflow: hidden;
}
.active {
  background-color: #6b0d29ec !important;
}

nav {
  background-color: #949494 !important;
}
.nav-item {
  padding-top: 10px;
  text-align: center;
  justify-content: center;
}
.nav-link {
  color: #000;
}
.nav-link:hover {
  color: #000;
  background-color: #777777 !important;
}
